name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print working directory
        run: pwd

      - name: List files
        run: ls -al

  lint:
    runs-on: ubuntu-latest
    needs: checkout
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4

      - name: Run DevSkim scanner
        uses: microsoft/DevSkim-Action@v1

      - name: Upload DevSkim scan results
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: devskim-results.sarif

  setup-java:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 20

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        working-directory: src/adservice
        run: |
          chmod +x ./gradlew
          ./gradlew downloadRepos
          ./gradlew installDist

  validation:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest
    needs: setup-java
    steps:
      - uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2
        with:
          working-directory: src/adservice

  docker-image-build:
    runs-on: ubuntu-latest
    needs: validation
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: |
          cd src/adservice
          docker build -t sharuelement/adservice:${{ github.sha }} .

  trivy-image-scan:
    runs-on: ubuntu-latest
    needs: docker-image-build
    steps:
      - uses: actions/checkout@v4

      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.49.1_Linux-64bit.deb
          sudo dpkg -i trivy_0.49.1_Linux-64bit.deb

      - name: Trivy Image Scan
        run: |
          trivy image sharuelement/adservice:${{ github.sha }}

  docker-login-push-image:
    runs-on: ubuntu-latest
    needs: trivy-image-scan
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker push sharuelement/adservice:${{ github.sha }}
