name: CI Pipeline (Multi-Service)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - adservice
          - cartservice

    env:
      IMAGE_NAME: sharuelement/${{ matrix.service }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ------------------------
      # LINT
      # ------------------------
      - name: Run DevSkim
        uses: microsoft/DevSkim-Action@v1

      # ------------------------
      # JAVA + GRADLE
      # ------------------------
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 20

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        working-directory: src/${{ matrix.service }}
        run: |
          chmod +x ./gradlew
          ./gradlew installDist

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2
        with:
          working-directory: src/${{ matrix.service }}

      # ------------------------
      # DOCKER BUILD
      # ------------------------
      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG src/${{ matrix.service }}

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          scanners: vuln
          severity: CRITICAL,HIGH
          exit-code: 0

      # ------------------------
      # PUSH
      # ------------------------
      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Image
        run: docker push $IMAGE_NAME:$IMAGE_TAG
