name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4

      - name: Run DevSkim scanner
        uses: microsoft/DevSkim-Action@v1

      - name: Upload DevSkim scan results
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: devskim-results.sarif

  build-and-scan-and-push:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v4

      # -----------------------
      # Java & Gradle
      # -----------------------
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 20

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        working-directory: src/adservice
        run: |
          chmod +x ./gradlew
          ./gradlew installDist

      # -----------------------
      # Docker Build
      # -----------------------
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: |
          cd src/adservice
          docker build -t sharuelement/adservice:${{ github.sha }} .

      # -----------------------
      # Trivy Scan (LOCAL IMAGE)
      # -----------------------
      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: sharuelement/adservice:${{ github.sha }}
          format: table
          scanners: vuln
          severity: CRITICAL,HIGH
          exit-code: 0

      # -----------------------
      # Docker Push
      # -----------------------
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker push sharuelement/adservice:${{ github.sha }}
