name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        id: checkout
        uses: actions/checkout@v4
      - name: Print working directory
        run: pwd
      - name: List files
        run: ls -al

  lint:
    runs-on: ubuntu-20.04
    needs: checkout
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Run DevSkim scanner
        uses: microsoft/DevSkim-Action@v1
      - name: Upload DevSkim scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: devskim-results.sarif

  setup-java:
    runs-on: ubuntu-20.04
    needs: checkout
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 20
          working-directory: src/adservice/

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          working-directory: src/adservice/

      - name: Build with Gradle
        working-directory: src/adservice/
        run: |
          chmod +x ./gradlew
          ./gradlew downloadRepos
          ./gradlew installDist

  validation:
    name: Validate Gradle Wrapper
    needs: setup-java
    runs-on: ubuntu-latest
    steps:
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
        with:
          working-directory: src/adservice/

 

  docker-image-build:
    runs-on: ubuntu-20.04
    needs: trivy-fs-scan
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push
        run: |
          cd src/adservice
          docker build -t sharuelement/adservice:${{ github.sha }} .

  trivy-image-scan:
    runs-on: ubuntu-20.04
    needs: docker-image-build
    steps:
      - name: Trivy Image Scan
        run: |
          cd src/adservice
          trivy image --format table -o trivy-image-report.html sharuelement/adservice:${{ github.sha }}

  docker-login-push-image:
    runs-on: ubuntu-20.04
    needs: trivy-image-scan
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          cd src/adservice
          docker push sharuelement/adservice:${{ github.sha }}
