name: java CI

env:
  APP_NAME: adservice

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  checkout:
    name: Checkout
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  setup-java:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 20

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        working-directory: /src/adservice
        run: |
          chmod +x gradlew
          ./gradlew downloadRepos
          ./gradlew installDist

  validation:
    name: Validate Gradle Wrapper
    needs: setup-java
    runs-on: ubuntu-latest
    steps:
      - uses: gradle/actions/wrapper-validation@v4
        with:
          working-directory: src/adservice

  trivy-fs-scan:
    runs-on: ubuntu-latest
    needs: validation
    steps:
      - name: Trivy FS Scan
        working-directory: src/adservice
        run: |
          trivy fs --format table -o fs.html .

  

  docker-image-build:
    runs-on: ubuntu-latest
    needs: trivy-fs-scan
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and Push Docker Image
        working-directory: src/adservice
        run: |
          docker build -t sharuelement/$APP_NAME:${{ github.sha }} .

  trivy-image-scan:
    runs-on: ubuntu-latest
    needs: docker-image-build
    steps:
      - name: Trivy Image Scan
        run: |
          trivy image --format table -o trivy-image-report.html sharuelement/$APP_NAME:${{ github.sha }}

  docker-login-push-image:
    runs-on: ubuntu-latest
    needs: trivy-image-scan
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker push sharuelement/$APP_NAME:${{ github.sha }}
